table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(207, 5, 5);
    text-align: center;
  }
  
  thead th:nth-child(1) {
    width: 20%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th,
  td {
    padding: 15px;
  }

  th {
    letter-spacing: 0.7px;
  }
  
  td {
    letter-spacing: 0.1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }

  tbody tr:nth-child(odd) {
    background-color: #d1d1d1;
  }
  
  tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  
  table {
    background-color: #ffffff;
  }