#searchForm {
  display: inline;
  justify-content: center;
  text-align: center;
}

.searchbookings {
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: 30px;
  color: white;
  text-shadow: 0 4px 4px black;
}

#searchText {
  margin: auto;
  width: 300px;
  height: 35px;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 18px;
}

.button {
  border: none;
  font-size: 20px;
  padding: 10px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button:hover {
  cursor: pointer;
  color: white;
  background: green;
}

#backbutton:hover {
  cursor: pointer;
  background: green;
  color: white;
}
