@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.table {
	background-color: white;
	Table {
		table-layout: fixed;
		width: 100%;
		border-collapse: collapse;
		border: 3px solid rgb(255, 255, 255);
	  }

	  Th {
		letter-spacing: 2px;
	  }
	  
	  Td {
		letter-spacing: 1px;
	  }
	  
	  Tbody Td {
		text-align: center;
	  }
	  
	  Tfoot Th {
		text-align: right;
	  }
	  Tbody Tr:nth-child(odd) {
		background-color: #bebebe;
	  }
	  
	  Tbody Tr:nth-child(even) {
		background-color: #ffffff;
	  }
}
