@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;

.table {
  margin-top: 20px;
  background-color: white;
  border-collapse: collapse;
  margin-bottom: 80px;
  Table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(255, 255, 255);
  }

  Th {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 12px;
  }

  Td {
    letter-spacing: 1px;
  }

  Tbody Td {
    text-align: center;
  }

  Tfoot Th {
    text-align: right;
  }
  Tbody Tr:nth-child(odd) {
    background-color: #bebebe;
  }

  Tbody Tr:nth-child(even) {
    background-color: #ffffff;
  }
}

.removeButton {
  margin-bottom: 20px;
}
