@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;


.tableContainer {
    display: none;
    @include m.xs {
        display: block;
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 450px) 
    and (max-device-width: 480px)  {
        table {
            background-color: rgb(252, 252, 252);
        }
		table, thead, tbody, th, td, tr {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			position: absolute;
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}
		td:nth-of-type(1):before { content: "Bokning ID"; }
		td:nth-of-type(2):before { content: "Kund ID"; }
		td:nth-of-type(3):before { content: "Datum"; }
		td:nth-of-type(4):before { content: "Tid"; }
		td:nth-of-type(5):before { content: "Gäster"; }
		td:nth-of-type(6):before { content: "Förnamn"; }
		td:nth-of-type(7):before { content: "Efternamn"; }
		td:nth-of-type(8):before { content: "E-mail"; }
		td:nth-of-type(9):before { content: "Telefon"; }
    }
}
}