@use "../styles/mixins" as m;
@use "../styles/variables" as v;

body:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background: url(../../assets/yummy-burger-french-fries-ketchup.jpg) no-repeat
    50% 50%;
  background-size: cover;
}

body {
  width: 100%;
  height: auto;
  @include m.xs {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header {
    border-bottom: 4px solid red;
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;

    .logo {
      margin-top: -1.5%;
      width: 45%;
      @include m.sm {
        width: 20%;
      }
    }
  }
}
