body {
  background-image: url(../../assets/yummy-burger-french-fries-ketchup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  .header {
    border-bottom: 4px solid red;
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
  }
  .logo {
    margin-top: -1.5%;
    max-width: 20%;
  }
}
